{% set ns = namespace(step_count=1) %}
{% set lang_name = {"py":":simple-python: Python", "js":":simple-javascript: JavaScript", "tjs":":simple-javascript: JavaScript with descriptors"} %}
{% set lang_ext = {"py":"py", "js":"mjs", "tjs":"typed.mjs"} %}
{% set lang_code = {"py":"py", "js":"js", "tjs":"js"} %}

{% macro list_begin() -%}
{% set ns.step_count = 1 %}
<table markdown class="tutorial">
{%- endmacro %}

{% macro list_end() -%}
</table>
{%- endmacro %}

{% macro step_begin(fname) -%}
<tr markdown><td markdown>![]({{ fname }}){ .data-description=".step-{{ ns.step_count }}" }<div markdown class="step-{{ ns.step_count }}"><span class="big-number">{{ ns.step_count }}. </span>
{%- endmacro -%}

{% macro step_end() -%}
</div></td></tr>
{% set ns.step_count = ns.step_count + 1 %}
{%- endmacro %}

{% macro code_full(filename, langs) -%}
{%- set ns.filename = filename -%}
{%- for entry in langs -%}
{%- set parts = entry.split(":", 1) -%}
{%- set l = parts[0] -%}
{%- set caption = parts[1] if parts|length > 1 else None -%}
=== "{{lang_name[l]}}"

    ```{{lang_code[l]}} linenums="1"
    --8<-- "{{filename}}.{{lang_ext[l]}}"
    ```

    [Download source]({{ config.repo_url }}/raw/refs/heads/{{config.extra.symbol.branch}}/mkdocs/overrides/{{filename}}.{{lang_ext[l]}}){ .source-link }

    {% if caption %}{{ caption | indent }}{% endif %}

{% endfor %}
{%- endmacro %}

{% macro code_snippet(langs) -%}
{%- for entry in langs -%}
{%- set parts = entry.split(":", 3) -%}
{%- set l = parts[0] -%}
{%- set start = parts[1] -%}
{%- set end = parts[2] -%}
{%- set caption = parts[3] if parts|length > 3 else None -%}
=== "{{lang_name[l]}}"

    ```{{lang_code[l]}} linenums="{{start}}"
    --8<-- "{{ns.filename}}.{{lang_ext[l]}}:{{start}}:{{end}}"
    ```

    {% if caption %}{{ caption | indent }}{% endif %}

{% endfor %}
{%- endmacro %}