{% set ns = namespace(step_count=1) %}
{% set lang_name = {"py":":simple-python: Python", "js":":simple-javascript: JavaScript", "tjs":":simple-javascript: JavaScript with descriptors"} %}
{% set lang_ext = {"py":"py", "js":"mjs", "tjs":"typed.mjs"} %}
{% set lang_code = {"py":"py", "js":"js", "tjs":"js"} %}

{% macro list_begin() -%}
{% set ns.step_count = 1 %}
<table markdown class="tutorial">
{%- endmacro %}

{% macro list_end() -%}
</table>
{%- endmacro %}

{% macro step_begin(fname) -%}
<tr markdown><td markdown>![]({{ fname }}){ .data-description=".step-{{ ns.step_count }}" }<div markdown class="step-{{ ns.step_count }}"><span class="big-number">{{ ns.step_count }}. </span>
{%- endmacro -%}

{% macro step_end() -%}
</div></td></tr>
{% set ns.step_count = ns.step_count + 1 %}
{%- endmacro %}

{% macro code_full(filename, langs) -%}
{% set ns.filename = filename %}
{% for l in langs %}
=== "{{lang_name[l]}}"

    ```{{lang_code[l]}} linenums="1"
    --8<-- "{{filename}}.{{lang_ext[l]}}"
    ```

{% endfor %}
{%- endmacro %}

{% macro code_snippet(langs) -%}
{% for lparams in langs %}
{%- set lparam = lparams.split(":") -%}
{%- set l = lparam[0] -%}
{%- set start = lparam[1] -%}
{%- set end = lparam[2] -%}
=== "{{lang_name[l]}}"

    ```{{lang_code[l]}} linenums="{{start}}"
    --8<-- "{{ns.filename}}.{{lang_ext[l]}}:{{start}}:{{end}}"
    ```

{% endfor %}
{%- endmacro %}